@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");

html,
body {
  width: 100%;
  height: 100%;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
select,
button,
table {
  font-family: "Malgun Gothic", Dotum, AppleGothic, sans-serif;
  font-size: 12px;
}
img,
fieldset {
  border: 0;
}
img {
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
ul,
ol {
  list-style: none;
}
em,
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
body {
  background-color: #000;
}
#wrap {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10%;
  font-size: 16px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}
#header {
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0);
}
#header .title {
  font-size: 3.3em;
  letter-spacing: 0.1em;
  line-height: 2em;
}
#header h2 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  opacity: 0;
}
#header .location {
  font-size: 1.3em;
  margin-bottom: 1.2em;
  line-height: 1.3em;
}

#content {
  width: 100%;
  margin: 0 auto;
}
#content .inputToDo {
  position: relative;
  width: 90%;
  height: 3.2em;
  margin: 0 auto 2.1em;
}
#content .inputToDo input {
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding-right: 13%;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: 0.1em 0.2em 0.2em;
  outline: none;
}
#content .inputToDo button {
  position: absolute;
  left: 88%;
  top: 0;
  width: 13%;
  height: 100%;
  border: 0;
  background: #e43737;
  outline: none;
  font-size: 1.5em;
  color: #fff;
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
}

#content .todoList {
  width: 90%;
  margin: 0 auto;
}
#content .todoList li {
  position: relative;
  width: 100%;
  height: 2.2em;
  margin: 0 auto 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: 0.1em 0.2em 0.2em;
  text-align: center;
  line-height: 2.2em;
  animation: fadeIn 0.5s linear;
}
#content .todoList li span {
  display: block;
  padding-right: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
#content .todoList .delBtn {
  position: absolute;
  left: 88%;
  top: 0;
  width: 14%;
  height: 100%;
  padding-left: 10px;
  border: 0;
  font-size: 1.5em;
  background-color: #360c83;
  color: #fff;
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
}

#content .todoList .delBtn:focus {
  outline: none;
}
#wrap .modal {
  display: none;
  position: absolute;
  left: 10%;
  top: 40%;
  width: 80%;
  height: 180px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 9999;
}

#wrap .modal .modal-title {
  height: 50px;
  padding-top: 20px;
}
#wrap .modal .modal-title h2 {
  font-size: 1.5rem;
}
#wrap .modal .modal-body {
  width: 100%;
  height: 50px;
}
#wrap .modal .modal-body form {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#wrap .modal .modal-body input {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  letter-spacing: 0.1em;
  text-align: center;
  box-sizing: border-box;
  outline: none;
}
#wrap .modal .modal-footer {
  height: 30%;
  padding-top: 3%;
}
#wrap .modal .modal-footer button {
  width: 10%;
  height: 60%;
  font-size: 1.3em;
  background: #e43737;
  outline: none;
  color: #fff;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.modal-bg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.showing {
  display: block !important;
}
.checked {
  color: #ccc;
  text-decoration-line: line-through;
}
.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  #content .todoList .delBtn {
    padding-left: 5px;
  }
}
